@import url('https://fonts.googleapis.com/css2?family=:wght@300;400;700&display=swap');

:root{
    --bg-gray: #ddd;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-gray: #4a4a4a;
    --text-light-gray: #aaa;
    --star-yellow: #ffbb3a;
}
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
html, body{
    background-color: var(--bg-gray);
}
header{
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1 {
    font-size: 24px;
    font-weight: 700;
}
nav a {
    font-size: 12px;
    font-weight: 400;
}
a, a:hover {
    color: unset;
    text-decoration: none;
}
.dsmovie-contact-content{
    display: flex;
    align-items: center;
}
.dsmovie-contact-content img{
    color: var(--white);
    height: 45px;
    margin-right: 4px;
}
#dsmovie-card-list{
    padding: 0 12px;
}
.dsmovie-card{
    width: 100%;
}
.dsmovie-card img{
    border-radius: 12px 12px 0 0;
    width: 100%;
}
.dsmovie-card-description{
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    justify-content: space-between;
    height: 220px;
}
.dsmovie-card-description h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.dsmovie-card-description-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dsmovie-card-description-bottom h4{
    font-size: 23px;
    font-weight: 700;
    color: var(--star-yellow);
}
.dsmovie-card-description-bottom img{
    width: 32px;
}
.dsmovie-card-description-bottom p{
    font-size: 18;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}
.dsmovie-btn, .dsmovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: var(--bg-gray);
    font-size: 18px;
    font-weight: 700;
    border: 0;
}
.dsmovie-form-container{
    padding: 40px 00;
    max-width: 480px;
}
.dsmovie-form-description{
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 12px 12px;
}
.dsmovie-form{
    width: 100%;
}
.dsmovie-form-description h3{
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 20px;
}
.dsmovie-form-group{
    margin-bottom: 20px;
}
.dsmovie-form-group label{
    font-size: 18px;
    color: var(--text-light-gray);
}

.dsmovie-form-btn-container{
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}
.dsmovie-pagination-container{
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.dsmovie-pagination-box{
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.dsmovie-pagination-box p{
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 17px;
    color: var(--color-primary);
    font-weight: 400;
}
.dsmovie-pagination-box button{
    width: 40px;
    height: 40px;
    border: 1px solid;
    color: var(--color-primary);
    border-radius: 6px;
    background-color: var(--white);
}
.dsmovie-pagination-box button img{
    filter: brightness(0) saturate(100%) invert(29%) sepia(34%) saturate(3219%) hue-rotate(226deg) brightness(87%) contrast(91%);

}
.dsmovie-pagination-box button:disabled{
    border: 1px solid var(--text-light-gray);
}
.dsmovie-pagination-box button:disabled img{
    filter: unset;
}
